

:root {
  --background: #1A1423;
  --foreground: #3D314A;
  --midColour: #684756;
  --accentColour: #E3B23C;
  --NeutralColour: #FFFFC7;
  --lighter: #E2AEDD;
}

body {
  color: var(--midColour);
  background: var(--background);
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-family: 'Space Grotesk', sans-serif;
}

h1 {
  color: var(--NeutralColour);

}

h2 {
  color: var(--accentColour);

}

h3 {
  color: var(--NeutralColour);

}
p {
  color: var(--lighter);

}

.NavBar a{
  color: var(--accentColour);
  text-decoration: none;
  padding: 0.5rem;
  width: fit-content;
}

.NavBar {
  padding: 0.5rem;
  background-color: var(--foreground);  
}


.content {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.websiteCard {
  display: flex;
  justify-content: center; 
  align-items: center;  
  padding: 0.5rem;
  background-color: #3D314A; 
  border-radius: 8px;        
  overflow: hidden;                         
}

.websiteImage {
  max-width: 100%;         
  height: auto;    
  border-radius: 8px;
  object-fit: contain; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.websiteLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem, auto;
}

.websiteLinks a{
  color: var(--accentColour);
  background-color: var(--foreground);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 8px;
}

.websiteLinks a:hover{
  font-weight: bold;
  cursor: pointer;
}

.carouselContainer::-webkit-scrollbar {
  height: 8px;
}

.carouselContainer::-webkit-scrollbar-track {
  background: #3D314A; 
  border-radius: 4px;
}

.carouselContainer::-webkit-scrollbar-thumb {
  background-color: #E3B23C; 
  border-radius: 4px;
  border: 2px solid #3D314A; 
}


.carouselContainer {
  scrollbar-width: thin;
  scrollbar-color: #E3B23C #3D314A;
}

.submit-button {
  background-color: var(--foreground);
  color: var(--accentColour);
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
}

.footer {
  padding: 0.5rem;
  background-color: var(--foreground);  
  text-align: center;
}

.footer p {
  color: var(--accentColour);
  font-size: 1rem;
}

.footer .footerInfo {
  color: var(--midColour);
}
.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.socials a{
  color: var(--accentColour);
  text-decoration: none;
}

.input {
  border-radius: 5px;
  padding: 0.5rem;
}

.resume-download-button{
  background-color: var(--NeutralColour);
  color: var(--background);
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;

}

.projectlink{
  color: var(--accentColour);
  text-decoration: none;
}

@media (min-width: 600px) {
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1.5rem;
  }
  p{
    font-size: 1rem;
  }
  .factTitle{
    font-size: 1.5rem;
  }
  .factDetails{
    font-size: 0.8rem;
  }
  .NavBar {
    padding: 1rem;
  }
  .NavBar a{
    font-size: 1rem;
  }
  .websiteLinks a{
    font-size: 1rem;
  }
  .footer p{
    font-size: 1rem;
  }
  .footer{
    text-align: left;
    padding: 1rem;
  }
  .socials{
    justify-content: flex-start;
  }
  .websiteCard { 
    padding: 1rem;
  }
  .websiteLinks a{
    padding: 1rem;
  }
}